<h1>All current students:</h1>
<% @students.each do |student| %>
  <p>
    Student Name : <%= student.pretty_name() %>
    <br />
    House : <%= student.house %>
    <br />
    Age : <%= student.age %>
    <br />
    <a href="/enrolled-students/<%= student.id %>">View Student</a>
  </p>
<% end %>
