<h2>All current students:</h2>
<% @students.each do |student| %>
  <p>
    Student Name : <%= student.pretty_name() %>
    <br />
    House : <%= student.find_house().house_name %>
    <br />
    Age : <%= student.age %>
    <br />
    <a href="/enrolled-students/<%= student.id %>">View Student</a>
  </p>
<% end %>
