<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hogwarts Student Enrollment</title>
</head>
<body>
  <h1>Hogwarts School of Witchcraft and Wizardry</h1>
  <nav>
    <a href="/enrolled-students">View all Enrolled Students</a>
    <br />
    <a href="/enrolled-students/new">Enrol New Student</a>
  </nav>
  <%= yield %>
</body>
</html>
