<h2>Show Specific Student</h2>

<p>Student's First Name : <%= @student.first_name %></p>
<p>Student's Last Name : <%= @student.last_name %></p>
<p>Student's House : <%= @student.find_house().house_name %></p>
<p>Student's Age : <%= @student.age %></p>
